.cocktail-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9; 
    border: 1px solid #B68934;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 16px;
    margin: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 100%;
    max-width: 300px; 
    height: auto; 
}

.cocktail-box:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.InnerBorder {
    border: 2px solid #B68934;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 16px;
    text-align: center; 
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.cocktailtext-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.cocktail-name {
    color: #3C3C3C;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Inria Serif', serif;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    transition: font-size 0.3s ease; 
}

.cocktail-name.long-name {
    font-size: 1.2rem; 
}


.cocktail-box:hover .cocktail-name {
    white-space: normal;
    font-size: 1.2rem;
}

.cocktailtext-container img {
    max-width: 100%;
    max-height: 200px; 
    object-fit: contain;
    border-radius: 20px; 
}

.cocktail-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 16px;
    justify-items: center; 
    padding: 20px;
}

/* Responsive Design */
@media (min-width: 1200px) {
    .cocktail-box {
        max-width: 280px;
    }
}

@media (max-width: 1200px) {
    .cocktail-box {
        max-width: 250px;
    }

    .cocktail-name {
        font-size: 1.2rem;
    }
}

@media (max-width: 900px) {
    .cocktail-box {
        max-width: 220px;
    }

    .cocktail-name {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .cocktail-list {
        grid-template-columns: repeat(1, 1fr); 
    }

    .cocktail-box {
        max-width: 90%; 
    }

    .cocktail-name {
        font-size: 0.9rem;
    }

    .cocktailtext-container img {
        max-height: 150px; 
    }
}
