nav {
  background-color: #2E4A42;
}

nav button {
  outline: none;
}

nav button:hover {
  cursor: pointer;
}

nav input {
  outline: none;
}

nav input::placeholder {
  color: #a0aec0;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: bold;
}

.text-white {
  color: #fff;
}

.text-gray-300:hover {
  color: #d1d5db;
}

/* Dropdown Styles */
.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 50;
  display: flex; 
  background-color: #000; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 8px;
  gap: 16px; 
}

.dropdown-container .category {
  flex: 1;
}

.dropdown-container .category ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-container .category li button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 8px;
  color: white;
  transition: background-color 0.3s;
}

.dropdown-container .category li button:hover {
  background-color: #333; 
}



/* Desktop styles */

@media (min-width: 769px) and (max-width: 1060px) {
  input[type="text"] {
    width: 300px; 
  }

  .mixitright-logo {
    margin-left: 20%;
  }
}

@media(max-width: 1020px) {

  .mixitright-logo {
    margin-left: -40%;
  }

}

@media(max-width: 918px) {

  .mixitright-logo {
    margin-left: -20%;
  }

  input[type="text"] {
    width: 240px; 
  }

}

@media(max-width: 843px) {

  .mixitright-logo {
    margin-left: 10%;
  }

  input[type="text"] {
    width: 200px; 
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .container {
    align-content: flex-start; 
    max-width: 100%; 
    padding: 0 10px; 
  }

  .mixitright-logo {
    margin-left: 0; 
    margin-right: auto; 
    display: block;
    max-width: 100%;
  }

  .burgermenu {
    margin-left: 0;
    margin-right: auto; 
  }

  input[type="text"] {
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 
  }

  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
  }
}

