.recepie-box {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding: 10px;
  padding-left: 10%;
  border-radius: 20px;
  margin: 10px auto;
  width: 100%;
  background-color: #2e4a42;
  color: white;
  height: auto;
  cursor: pointer;
}

.text-container {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center; 
  width: 100%;
}

.ingredient-name {
  font-size: 16px;
  font-weight: bold;
}

.ingredient-quantity {
  font-size: 16px; 
  color: #b6b6b6;
  margin-right: 15px;
}

.crossed-out {
  text-decoration: line-through;
  color: #d3d3d3;
}
