@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');
.Browse {
    font-family: 'Inter', sans-serif;
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.BrowseContent {
    height: auto; 
    width: 92%; 
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    background-color: #F5F3E7;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 3%;
}

.UpperContent{
    width: 100%;
    height: 40%; 
}

.SpiritsHeader {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -1%;
}

.SpiritsTitle,.BrowseTitle {
    font-family: 'Inria Serif', serif;
    color: #000000;
    font-size: 64px;
    font-weight: bold;
}

.Decoration {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Decoration::before,
.Decoration::after {
    content: "";
    width: 200px; 
    height: 3px; 
    background: linear-gradient(-90deg, rgba(220, 178, 126, 1) 0%, rgba(156, 120, 64, 1) 100%); 
}

.Decoration::after {
    background: linear-gradient(90deg, rgba(220, 178, 126, 1) 0%, rgba(156, 120, 64, 1) 100%); 
}

.Decoration .circle {
    width: 14px; 
    height: 14px;
    background-color: #B68934; 
    border-radius: 50%;
    margin: 0 20px; 
}

.SpiritSelection {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: center; 
    padding: 20px;
}

.SpiritCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9; 
    border: 1px solid #B68934;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 16px;
    margin: 16px;
    width: 200px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.SpiritCard:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #B68934;
}

.SpiritCard img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 12px;
    transition: filter 0.3s ease;
}

.SpiritCard:hover img {
    position: relative;
    z-index: 1;
}

.SpiritCard:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #B68934;
    mix-blend-mode: screen;
    z-index: 2;
    pointer-events: none;
}


.SpiritCard h2 {
    font-size: 18px;
    color: #333;
    margin: 0;
    text-align: center;
    font-family: 'Inria Serif', serif;
}

.SpiritCard:hover  h2{
    font-size: 20px;
    font-weight: bolder;
}


.InnerBorder {
    border: 2px solid #B68934;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 16px;
    text-align: center; 
}


.LowerContent{
    width: 100%;
    height: 60%;
}

.ContetHeader{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -1.6%;
}

.BrowseContet{
    padding: 10px;
}
