.Home {
    background-image: url('/public/Assets/Home-Background.jpg');
    height: 100vh;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}

.HomeContent {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.78);
    display: grid;
    grid-template-columns: 40% 60%;
}


/**
    * Left side
    */
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 20%;
}

.Title {
    font-size: 6.3rem;
    font-weight: bold;
    line-height: normal;
    background: linear-gradient(-90deg,
            rgba(220, 178, 126, 1) 0%,
            rgba(156, 120, 64, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}


.TitleDesc {
    color: #F5F3E7;
    font-size: 30px;
    line-height: normal;
    font-weight: medium;
    margin-top: 20px;
    width: 70%;
}

.ButtonContainer {
    margin-top: 100px;
}

.ButtonText,.HiddenButtonText {
    color: #F5F3E7;
    font-size: 16px;
    font-weight: bold;
}

.HiddenButtonText{
    display: none;
}

.RandomCocktailButton {
    background-color: #6B0F1A;
    width: 378px;
    height: 96px;
    border-radius: 20px;
    font-size: 64px;
    font-weight: bold;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.RandomCocktailButton:hover {
    background-color: #74101c;
    transform: scale(1.01);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
}


    /**
    * Right side
    */
.right {
    background-color: rgba(255, 255, 255, 0.014);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 9%;
}

.UserInputArea {
    background-color: #000000a6;
    height: 92%;
    width: 60%;
    border-radius: 20px;
    margin-top: 2%; 
}

.InputAreaTitle{
    margin-top: 5%;
    margin-bottom: 1%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.UserIngredientInput {
    display: flex;
    flex-direction: row;  
    align-items: center;     
    justify-content: center;
    gap: 10px;               
    text-align: center;     
    margin-bottom: 1%; 

  }

input[type="Ingedienttext"]{
    width: 400px;
    height: 51px;
    border-radius: 20px;
    padding-left: 5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.ingredientSelect{
    width: 135px;
    height: 51px;
    padding-left: 5px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #2E4A42;
    color: white;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.AddIngredientButton{
    color: white;
    width: 68px;
    height: 51px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    background-color: #6B0F1A;
}

.AddIngredientButton:hover {
    background-color: #74101c;
    transform: scale(1.01);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
}


/*
User choice
*/
.UserChoiceContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center; 
  }
  
  .UserChoiceContainer p {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .SpacewithSlash {
    color: white;
    font-size: 20px;
  }
  
  .UserChoiceContainer label {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: font-size 0.3s ease; 
  }
  
  .UserChoiceContainer .bigger-text {
    font-size: 24px; 
    background: linear-gradient(-90deg, rgba(220, 178, 126, 1) 0%, rgba(156, 120, 64, 1) 100%);
    -webkit-background-clip: text; 
    color: transparent; 
  }
  
  .UserChoiceContainer input[type="radio"] {
    display: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  
  .UserChoiceContainer label:hover {
    color: #D4AF37;
  }

  .NoteText{
    font-size: 12px;
    color: #F5F3E7;
    margin-top: 10px;
    width: 200px;
    margin-bottom: -5%;
  }
  
    /*
    User inputed text
    */
    .UserIngredientShowArea {
      justify-content: center;   
      width: 100%;
      height: 63%;
      margin: 2% 0 2% 0;
      flex-direction: column;  
      align-items: center;
      overflow-y: auto;       
      overflow-x: hidden;
      max-height: 500px;
      scrollbar-width: thin;
      scrollbar-color: rgba(90, 143, 123, 0.5) transparent; 
  }

  /* Better looking scrollbar*/
  .UserIngredientShowArea::-webkit-scrollbar {
    width: 6px; 
}

.UserIngredientShowArea::-webkit-scrollbar-track {
    background: transparent; 
}

.UserIngredientShowArea::-webkit-scrollbar-thumb {
    background-color: rgba(90, 143, 123, 0.5); 
    border-radius: 10px; 
}

.UserIngredientShowArea::-webkit-scrollbar-thumb:hover {
    background-color: rgba(90, 143, 123, 0.8); 
}

.error-message {
  color: red;
  font-size: 14px;
}

    /*
    Mix it toghter button
    */
.UserIngredientsButton{
    background-color: #6B0F1A;
    width: 45%;
    height: 47px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.UserIngredientsButton:hover {
    background-color: #74101c;
    transform: scale(1.01);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
}

.big-center-button {
    display: none; 
}


@media (max-width: 1670px) {
    .UserInputArea{
        margin-top: 4%;
        width: 70%;
    }
}


@media (max-width: 1500px) {
    .Title{
        font-size: 5.6rem;
    }

    .UserInputArea{
        margin-top: 4%;
        width: 80%;
    }
}

@media (max-width: 1365px) {
    .Title{
        font-size: 5.3rem;
    }
    .UserInputArea{
        margin-top: 4%;
        width: 80%;
    }
}


@media (max-width: 1239px) {
    .Title{
        font-size: 5rem;
    }
    .UserInputArea{
        margin-top: 4%;
        width: 90%;
    }
}


@media (max-width: 1150px) {
    .Title{
        font-size: 4rem;
        margin-top: 20%;
    }

    .UserInputArea{
        margin-top: 6%;
        width: 92%;
    }
}

@media (max-width: 1000px) {

    .Title{
        font-size: 3.6rem;
    }

    .UserInputArea{
        margin-top: 9%;
    }
}

@media (max-width: 920px) {
    .HomeContent {
        grid-template-columns: 1fr;
    }

    .left, .right {
        display: none;
    }

    .left.active, .right.active {
        display: flex;
        width: 100%;
    }


    .left.active {
        display: flex; 
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding-top: 0;
    }

    .HiddenButtonText{
        display: block;
        margin-top: 11%;
    }
    
    .big-center-button {
        display: block; 
        position: absolute;
        background-color: #6B0F1A;
        width: 378px;
        height: 96px;
        margin-top: 1%;
        border-radius: 20px;
        font-size: 2.3rem;
        font-weight: bold;
        color: white;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    }
    
    .big-center-button:hover {
        background-color: #74101c;
        box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
    }
  
  .small-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 16px;
    font-size: 0.9rem;
    background-color: #6B0F1A;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translate(20%, 210%);
  }
  
  .UserInputArea{
    margin-top: 8%;
    height: 90%;
    width: 85%;
}
  
}


@media (max-width: 766px) {

    .small-back-button {
        transform: translate(20%, 200%);
      }
    
      .UserInputArea{
        margin-top: 13%;
        height: 85%;
        width: 90%;
        margin-left: -1%;
    }

    input[type="Ingedienttext"]{
        width: 300px;
    }  
      
}


@media (max-width: 565px) { 
      .UserInputArea{
        margin-top: 17%;
        height: 85%;
        width: 95%;
        margin-left: -1%;
    }

    input[type="Ingedienttext"]{
        width: 250px;
    }  
      
    .InputAreaTitle{
        font-size: 1rem;
    }
}

